<html>
<head>
<title>ImageCrop</title>
<script type="text/javascript" src="{{ADMIN_MEDIA_PREFIX}}js/jquery.min.js" ></script>
<script type="text/javascript" src="{{MEDIA_URL}}imagecrop/js/jquery.Jcrop.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}imagecrop/css/jquery.Jcrop.css" />
<script type="text/javascript">
var localjQuery = jQuery.noConflict();
</script>
</head>
<body style="text-align:center;">

<script type="text/javascript">
(function($){
	$(window).load(function(){
	    var img = $("#cropImg")
	    img.attr("src",window.image_orig_thumbnail);
	    img.attr("height",window.image_thumb_height);
	    img.attr("width",window.image_thumb_width);
	
	    var api = $.Jcrop('#cropImg',window.jCropArgs);
	    api.setSelect(window.image_selected_coords );
	
	
	    $('#btnUpdate').click( function(){
	            var callback = window.crop_update_callback
	            if (callback){
	                callback(api.tellSelect())
	            }
	
	            window.close()
	        });
        
	   })
})(localjQuery);
</script>

<img id="cropImg" />
<input id="btnUpdate" type="button" value="Update Form" />
</body>
</html>